<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
</head>
<body>
    <p>Edit tour Chats <%= chat._id %></p>
    <p>
        This Chat was send from <b><%= chat.from %></b> to <b><b%= chat.to %></b>
    </p>
    <form>
        <textarea name="msg"  rows="6"  cols="50"><%= chat.msg %></textarea>
        <br/>
        <button>Edit</button>
    </form>
</body>
</html>