<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>All Chats</h3>
    <form>
        <button>New Chat</button>
    </form>
   <% for(let chat of chats) { %>
    <div class="chat">
        <p>from : <i> <%= chat.from%></p>
        <div class ="msg">
             <p><%= chat.msg%></p>
        </div>
        <p>rec : <i> <%= chat.to%></p>
        <hr/>
    </div>
    <br><br>
<% } %>
</body>
</html>
